.category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color);
    margin:0 10px;
    padding:0 25px;
    border: 2px solid var(--title-color);
    width:225px;
}
.title{
    color: var(--title-color)
}
.plusBtn{
    margin-bottom: 10px;
    text-align: center;
}
.questionMark{
    text-align: center;
    font-size: 80px;
    color:var(--negation-color)
}
